@media screen and (max-width: 467px){ 
    *{
        padding:0;
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        padding: 20px;
       
    }
    .judul {
        margin-top: 5px;
        
    }
    
    .arrow {
        height: 50px;
        width:30px
    }
    
    .logo {
        margin-left: 20px;
    }
    
    .judul {
        margin-left: 10px;
    }
    

    .imgCompt {
        margin-top: 30px;
       
    }  
    
    
    .containerVS {
        font-size: 30px;
    
    }


        
    .option{
        margin-top: 30px;
        width: 60px;
        height: 50px;
    
    }

    .optionComp {
        margin-top: 30px;
        width: 60px;
        height: 50px;
    }

    #result {
        width: 8px 8px;
        padding: 10px 10px;
        font-size: 10px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    #inGame {
        color: #FFFFFF ;
        background-color: #4C9654 ;
        box-sizing: content-box;
        width: 8px 8px;
        padding: 5px 5px;
        font-size:10px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        

    }
    .containerRefresh {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
  

    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .containerVS {
        display: flex;
        justify-content: center;
        align-items: center;
    }

 }


 @media screen and (max-width: 788px){ 
    *{
        padding:0;
        margin: 0;
        box-sizing: border-box;
    }
    
    header {
        padding: 25px;
    }
    .judul {
        margin-top: 15px;
        
    }
    
    .arrow {
        height: 60px;
        width:40px
    }
    
    .logo {
        margin-left: 30px;
    }
    
    .judul {
        margin-left: 20px;
    }
    

    .imgCompt {
        margin-top: 40px;
       
    }  
    
    
    .containerVS {
        font-size: 40px;
    
    }


        
    .option{
        margin-top: 40px;
        width: 70px;
        height: 60px;
    
    }

    .optionComp {
        margin-top: 40px;
        width: 70px;
        height: 60px;
    }

    #result {
        width: 15px 15px;
        padding: 15px 15px;
        font-size: 15px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    #inGame {
        color: #FFFFFF ;
        background-color: #4C9654 ;
        box-sizing: content-box;
        width: 15px 15px;
        padding: 15px 15px;
        font-size: 15px;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        

    }
    .containerRefresh {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }
  

    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .containerVS {
        display: flex;
        justify-content: center;
        align-items: center;
    }

 }